<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9BbQCS3QwWQMR1j1a9Ceo-h9Sr_OrMLU</string>
	<key>GCM_SENDER_ID</key>
	<string>866207719260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.httpDio</string>
	<key>PROJECT_ID</key>
	<string>image-picker-58cb8</string>
	<key>STORAGE_BUCKET</key>
	<string>image-picker-58cb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866207719260:ios:5704e6f79ba670d27feb99</string>
</dict>
</plist>